<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<servers>
		<server>
			<id>archiva</id>
			<username>${env.ARTIFACTORY_USER}</username>
			<password>${env.ARTIFACTORY_PASS}</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>${env.ARTIFACTORY_USER}</username>
			<password>${env.ARTIFACTORY_PASS}</password>
		</server>
		<server>
			<id>bintray</id>
			<username>${env.BINTRAY_USER}</username>
			<password>${env.BINTRAY_PASS}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>archiva</id>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>bintray</id>
					<url>https://api.bintray.com/maven/cloudesire/maven-releases/kong-java-client/;publish=1</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
					<id>snapshots</id>
					<name>snapshots</name>
					<url>https://archiva.cloudesire.com/repository/snapshots/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>archiva</id>
					<name>internal</name>
					<url>https://archiva.cloudesire.com/repository/internal</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots/>
					<id>snapshots</id>
					<name>snapshots</name>
					<url>https://archiva.cloudesire.com/repository/snapshots</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>sonar</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<sonar.host.url>https://sonar.cloudesire.com</sonar.host.url>
				<sonar.login>circleci</sonar.login>
				<sonar.password>${env.SONAR_PASS}</sonar.password>
			</properties>
		</profile>

	</profiles>
	<activeProfiles>
		<activeProfile>archiva</activeProfile>
	</activeProfiles>
	<pluginGroups>
		<pluginGroup>com.atlassian.maven.plugins</pluginGroup>
		<pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
	</pluginGroups>

	<interactiveMode>false</interactiveMode>
</settings>
